{% extends 'base.html.twig' %}

{% block title %}Quai Antique - La Carte {% endblock %}

{% block body %}
<style>
    
</style>

<div class="container">
    <h1 class="display-4 text-center text-warning mt-4">La Carte du Restaurant</h1>
    
    <h2 class="text-warning display-6 mt-4">Les Entrées :</h2>
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2">
        {% for plat in plats %}
            
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="text-center">{{ plat.title }}</p>
                    <p class="">{{ plat.description }}</p>
                    <div class="text-end">{{ plat.prix }} €</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="text-warning display-6 mt-4">Les Plats :</h2>
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2">
        {% for plat in plats2 %}
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="text-center">{{ plat.title }}</p>
                    <p class="">{{ plat.description }}</p>
                    <div class="text-end">{{ plat.prix }} €</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="text-warning display-6 mt-4">Les Desserts :</h2>
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2">
        {% for plat in plats3 %}
        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="text-center">{{ plat.title }}</p>
                    <p class="">{{ plat.description }}</p>
                    <div class="text-end">{{ plat.prix }} €</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
</div>

<style>
     .active2 {
        color:orange;
    }
</style>
{% endblock %}
