

<nav class="navbar navbar-expand-lg navbar-dark bg-dark m-1">
  <div class="container-fluid ms-4 me-4">
    <a class="navbar-brand text-warning" href="{{ path('home.index') }}">Quai Antique</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active1" href="{{ path('home.index') }}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active2" href="{{ path('app_carte') }}">La Carte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active3" href="{{ path('app_menus') }}">Nos Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active4" href="{{ path('app_reservations') }}">Réserver</a>
        </li>
      </ul>

      <div class="d-flex">
        <ul class="navbar-nav">
          {% if app.user %}
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.fullName }}</a>
              <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="{{ path('app_user.edit', {id : app.user.id} ) }}">Modifier mes informations</a>
                <a class="dropdown-item" href="{{ path('app_user.edit.password', {id : app.user.id}) }}">Modifier mon mot de passe</a>
                <div class="dropdown-divider"></div>
                {% if 'ROLE_ADMIN' in app.user.roles %}
                  <a class="dropdown-item" href="{{ path('app_plats') }}">Administration Plats</a>
                  <a class="dropdown-item" href="{{ path('app_menus.tableau') }}">Administration Menus</a>
                  <a class="dropdown-item" href="{{ path('app_horaires.tableau') }}">Administration Horaires</a>
                  <a class="dropdown-item" href="{{ path('admin') }}">Administration Utilisateurs</a>
                  <a class="dropdown-item" href="{{ path('app_reservations.tableau') }}">Administration Reservations</a>
                  <div class="dropdown-divider"></div>
                {% endif %}
                <a class="dropdown-item" href="{{ path('app_security.logout') }}">Déconnexion</a>
              </div>
            </li>
        </ul>     
          {% else %}
            <button type="button" class="btn btn-outline-warning me-2">
              <a class="nav-link" href="{{ path('app_security.registration') }}">Inscription</a>
            </button>
            <button type="button" class="btn btn-outline-warning me-4">
              <a class="nav-link" href="{{ path('app_security.login') }}">Connexion</a>
            </button>
          {% endif %}
      </div>

    </div>
  </div>
</nav>

<style>
   
</style>

