{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Les Reservations{% endblock %}

{% block body %}
    <div class="container">

        <div class="card mt-4 p-4">
            <div class="card-body">
                <h1 class="mt-2 text-warning text-center">Modification de la reservations</h1>

                <form name="reservation" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            <div class="form-error">
                                {{ form_errors(form.email) }}              
                            </div>
                        </div>

                        <div class="col">
                            {{ form_label(form.nbCouvert) }}
                            {{ form_widget(form.nbCouvert) }}
                            <div class="form-error">
                                {{ form_errors(form.nbCouvert) }}              
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                            <div class="form-error">
                                {{ form_errors(form.date) }}              
                            </div>
                        </div>

                        <div class="col">
                            {{ form_label(form.heure) }}
                            {{ form_widget(form.heure) }}
                            <div class="form-error">
                                {{ form_errors(form.heure) }}              
                            </div>
                        </div>                
                    </div>
                        
                    {{ form_row(form._token) }}
                    <button type="submit" id="reservation_submit" name="reservation[submit]" class="btn btn-primary mt-4">
                        Modifier la reservation
                    </button>     
                </form>

            </div>
        </div>

    </div>
 
<style>
     .active5 {
        color:orange;
    }
</style>
{% endblock %}