{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Réservation{% endblock %}

{% block body %}

<div class="container MarginPageTop">

    <section class="d-flex align-items-center justify-content-center">
        <div class="styleD border border-primary p-4">
            
                <h1 class="text-center mt-4 text-warning">Réserver une table</h1>

                <form name="reservation" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            <div class="form-error">
                                {{ form_errors(form.email) }}              
                            </div>
                        </div>

                        <div class="col-lg-6">
                            {{ form_label(form.nbCouvert) }}
                            {{ form_widget(form.nbCouvert) }}
                            <div class="form-error">
                                {{ form_errors(form.nbCouvert) }}              
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                            <div class="form-error">
                                {{ form_errors(form.date) }}              
                            </div>
                        </div>

                        <div class="col-lg-6">
                            {{ form_label(form.heure) }}
                            {{ form_widget(form.heure) }}
                            <div class="form-error">
                                {{ form_errors(form.heure) }}              
                            </div>
                        </div>                
                    </div>
                        
                    {{ form_row(form._token) }}
                    <button type="submit" id="reservation_submit" name="reservation[submit]" class="btn btn-warning mt-4">
                        Réserver !
                    </button>     
                </form>
                
            
        </div>    
    </section>
</div>

{% include 'partials/_footer.html.twig' %}
<style>
    .MarginPageTop{
        margin-top:15vh;
    }
     .active4 {
         color:orange;
    }
    .styleD{
       min-height:60vh;
       min-width:80vw;
    }


</style>
{% endblock %}
