{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Les Plats{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="mt-4 text-warning text-center">Modification du Plat</h1>

        {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                <div class="form-error">
                    {{ form_errors(form.title) }}              
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image) }}
                <div class="form-error">
                    {{ form_errors(form.image) }}              
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.prix) }}
                {{ form_widget(form.prix) }}
                <div class="form-error">
                    {{ form_errors(form.prix) }}              
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <div class="form-error">
                    {{ form_errors(form.description) }}              
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
