{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Les Plats{% endblock %}

{% block body %}
    <div class="container">

        <div class="card mt-4 p-4">
            <div class="card-body">
                <h1 class="mt-2 text-warning text-center">Modification du Plat</h1>

                <form name="plats" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                        <div class="form-error">
                            {{ form_errors(form.title) }}              
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.prix) }}
                        {{ form_widget(form.prix) }}
                        <div class="form-error">
                            {{ form_errors(form.prix) }}              
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                        <div class="form-error">
                            {{ form_errors(form.description) }}              
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.category) }}
                        {{ form_widget(form.category) }}
                        <div class="form-error">
                            {{ form_errors(form.category) }}              
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.imageFile) }}
                        {{ form_widget(form.imageFile) }}
                        <div class="form-error">
                            {{ form_errors(form.imageFile) }}              
                        </div>
                    </div>
                    
                    {{ form_row(form._token) }}
                    <button type="submit" id="plats_submit" name="plats[submit]" class="btn btn-primary mt-4">
                        Modifier mon plat
                    </button>
                    
                </form>

            </div>
        </div>

    </div>
 
<style>
    img {
        max-width:300px;
        margin-top:10px
    }
     .active5 {
        color:orange;
    }
</style>
{% endblock %}
