{% extends 'base.html.twig' %}

{% block title %}Quai Antique - Les Plats{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if not plats.items is same as([]) %}

        <h1 class="text-warning text-center">Les Plats Incontournables</h1>

        <div class="count mt-4">
            <h4>Il y a {{ plats.getTotalItemCount }} plats au total ! </h4>
        </div>

        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Numéro</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Image</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for plat in plats %}
                    <tr class="table-active">
                        <th scope="row">{{plat.id}}</th>
                        <td>{{plat.title}}</td>
                        <td>{{plat.image}}</td>
                        <td>{{plat.prix}}</td>
                        <td>{{plat.description}}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(plats) }}
        </div>
    {% else %}
        <h4>Il n'y a pas de plats</h4>
    {% endif %}
    </div>
{% endblock %}
